@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue-color: #00b9f2;
    --green-color: #009649;
    --white-color: #fff;
    --black-color: #555563;
    --pure-black-color: #000;
  }